.App {
  text-align: center;
  min-height: 100vh;
  background-color: #fafafa;
}

.navbar {
  background-color: #1e2640;
  min-height: 100vh;
  width: 15%;
  /* display: flex; */
  /* align-items: center; */
}

.navbar-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.header {
  position: absolute;
  top: 0;
  left: 15%;
  width: 79%;
  height: 7%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-left: 3%; */
  /* margin-right: 3%; */
  padding-left: 3%;
  padding-right: 3%;
}

.overview {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 79%;
  height: 20%;
  background-color: #fafafa;
  margin-left: 3%;
  margin-right: 3%;
}

.transactions {
  position: absolute;
  top: 30%;
  left: 15%;
  width: 79%;
  height: 70%;
  background-color: #fafafa;
  margin-left: 3%;
  margin-right: 3%;
}
input[type="text"],
button {
  border: none;
  outline: none;
}
.table {
  /* background-color: black; */
  width: 100%;
  border-collapse: collapse;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-left: 20px;
  border-radius: 10px;
  border-bottom: 1px solid #ddd;
}

.heading {
  background-color: #f2f2f2;
}

/* Style individual cells */
.table td {
  padding: 10px;
}

/* Center text in the cells */
.table td,
.table th {
  text-align: center;
}

/* Add some spacing between table cells */
.table th,
.table td {
  /* padding: 12px; */
}

td {
  font-weight: 500;
}

.order-id {
  color: #307fbc;
  cursor: pointer;
}
/* Responsive design - adjust styles for smaller screens if needed */
@media (max-width: 768px) {
  .transactions {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.arrow-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: medium;
  /* padding: 5px; */
  padding-right: 10px;
  padding-left: 10px;
  color: #4c4c4c;
  border: 2px solid #d9d9d9;
  /* border-color: #146eb4; */
  border-radius: 6px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Pagination */

.pagination-container {
  display: flex;
  justify-content: center;
  list-style-type: none;
  /* margin-left: 30px; */
  /* background-color: #1e2640; */

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      /* background-color: rgba(0, 0, 0, 0.04); */
      cursor: pointer;
    }

    &.selected {
      background-color: #146eb4;
      border-radius: 8px;
    }

    .arrow {
      &::before {
        position: relative;
        /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
        content: "";
        /* By using an em scale, the arrows will size with the font */
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        border-top: 0.12em solid rgba(0, 0, 0, 0.87);
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
